.html {
    background: url('assets\css\images\Shaggy.png') cover no-repeat;;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    font-size: 100px;

}