body {
  background-color: rgb(43, 33, 173);
  font-size: 24px;
}

#end-page {
  display: none;
}

#main-logo {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100% \9;
}
#family-photo{
  height: 200px;
  width: 200px;
}
h1 {
  margin-bottom: 20px;
}

h2{
  font-size: 30px;
}

label {
  font-size: 26px;
}

#end-page p {
  font-size: 20px;
  
}

#correct-answers {
  margin-top: 32px;
}

#question {
  margin-top: 32px;
  font-size: 40px;
  font-weight: 500;
}

footer {
  height: 30px;
  margin-top: 30px;
}

#copyright-small {
  font-size: 12px;
}

#timer {
  margin-top: 20px;
}

#done-button {
  margin-top: 20px;
}
